h1 {
    text-align: left;
    margin-top: 0;
}
 

form {
    border: 2px solid ;
    padding: 15px;
    width: 600px;      
    margin: 0 auto;    
}

.green {
    background-color: greenyellow;
}