h1 {
    text-align: center;
}


form {
    border: 2px solid green;
    padding: 15px;
    width: 600px;      
    margin: 0 auto;    
}

.green {
    background-color: greenyellow;
}
input:disabled {
    background-color: #e0e0e0;
    color: #555;
}
